---
interface Props {
	title: string;
	description: string;
	image: string;
	keywords: string;

}
const {title, description, image, keywords} = Astro.props;

import { ClientRouter } from "astro:transitions";
import NavBar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/inmobiliariacalima.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description}>
		<meta name="description" content={description}>
		<meta property="og:image" content={image}>
		<meta name="keywords" content={keywords}>
		<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
		<title>{title} - Inmobiliaria Calima</title>
		<!-- <ClientRouter/> -->

		 <!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-WJ0ZFCHTG0"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-WJ0ZFCHTG0');
		</script>
	</head>
	<body>
		<NavBar />
		<main >
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style is:global>
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

	h2 {
    font-size: 51px;
    font-weight:600;
}

	body {
    background: #061647;
    color: #fff;
    font-family: 'roboto', sans-serif;
    
}



	.text-long {
    font-family: 'Nunito Sans Variable', sans-serif;
}

@media screen and (max-width: 1270px) {
	h2 {
    font-size: 46px;
}
}
</style>
